<% provide(:title, 'All Users') %>
<% if @search_word.present? %> <!--search_wordが存在している時-->
  <h1>検索結果</h1> <!--検索結果を表示-->
<% else %> <!--search_wordが存在していない時-->
  <h1>全ユーザー一覧</h1> <!--全ユーザー一覧を表示-->
<% end %>

<div class="col-md-10 col-md-offset-9">
  ユーザー名検索 <!--以下追加２-->
    <%= form_with(url: users_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :search_word, placeholder: "キーワードを入力", class: "search-input" %>
    <%= form.submit "検索", class: "search-btn" %>
    <% end %>
</div>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-hover" id="table-users"> <!--table-condensed通常よりも行幅の狭いテーブル-->
    
    
    <% @users.each do |user| %>
      <tr>
        <td>
          <% if current_user.admin? %> <!--現在ユーザーに管理権限あれば下の処理実行-->
            <%= link_to user.name, user %> <!--ユーザーの名前をクリックするとshowアクションページに遷移-->
          <% else %> <!--管理権限なければ-->
            <%= user.name %> <!--名前表示のみ-->
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>