<!DOCTYPE html>
<html> <!--意味は不明。基本構造上最初にhtmlとしている。-->
  <head> <!--headは表示されない部分-->
    <title><%= full_title(yield(:title)) %></title> <!--上部タイトル部分-->
    <%= csrf_meta_tags %> <!--Railsアプリ外部からの不正アクセスに対処するためのHTMLタグ。
クロスサイトリクエストフォージェリ(CSRF)の対策のために記述する。-->
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %> <!--Railsが提供するCSSタグを生成します。-->
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %> <!--Railsが提供するJavaScriptタグを生成します。-->
    <%= render 'layouts/shim' %>
    <%= javascript_importmap_tags %>
  </head>

  <body> <!--本文のデザイン-->
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, msg| %>
        <div class="alert alert-<%= message_type %>"><%= msg.html_safe %></div> <!--alert-successで緑などメッセージによって色が変化する。html_safeエラーメッセージを配列の要素ごとに区切る際に指定した<br>がHTMLとして有効になり改行される-->
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %> <!--デバッグ表示-->
    </div>
    <!-- jQuery and Bootstrap scripts /scriptの意味は台本-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> <!--srcは外部から読み込むファイル-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>